body{
    background-color:black ;
}
h1{
    color:white;
    font-weight: bold;
    font-style: italic;
}
.even{
    background-color:crimson; color:mintcream;
}
.odd{
    background-color:blueviolet; color:cyan;
}

p{
    color:darkorchid;
    font-weight:Bold;
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
}


.fa-youtube{
    color: red;
    
}

.fa-twitter{
    color: aqua;
}
h2{
    color:white;
    font-style: italic;
}
